.App {
  text-align: center;
  background-color: #000;
  color: #fff;
  min-height: 100%;
}

.App > h1 {
  display: contents; /* Makes the container disappear, making the child elements children of the element the next level up in the DOM */
  font-family: 'Monoton', cursive;
  font-size: 60px;
  font-weight: lighter;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
}
