.Timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Timetable_stop {
  width: 50%;
}

.Timetable_stop table {
  width: 100%;
}

.Timetable th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
